{% extends '::base.html.twig' %} 
{% block body %}

<h1>Przepraszamy!</h1>
<p>Tylko administrator może dodawać filmy</p>
<h3>Przejdź do <a href="http://v-ie.uek.krakow.pl/~s173358/app.php/"> strony głównej</a></h3>

{% endblock %}
